body {
  --hover-color: #effae5;

  --app-theme-bg-color: #629D35;
  --app-secondary-color: #f3e0c9;

  --app-border-color: #d8ebca;
  --app-theme-text-color: #fff;

  --app-blue: #1C9BEF;
  --badge-color: red;
  --online-green: #66D310;
  
}